/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #98a3ae;
  padding: 10px;
}
.header-container .menu-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.header-container .menu-content .dropdown-link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.header-container .menu-content :hover {
  color: brown;
}
.header-container .btn-hide {
  display: none;
}
.header-container .hide-content {
  display: none;
}
.home {
  position: relative;
}
.home .home-img {
  width: 100%;
  max-height: 30vh;
}
.home .bottom-left {
  position: absolute;
  bottom: 25px;
  left: 14px;
  line-height: 1.1;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.content .content-img {
  width: 100%;
  padding: 30px 15px;
}
.content .learn-more {
  text-decoration: none;
  color: black;
  margin: 10px auto;
  padding: 15px 30%;
  border: 1px solid black;
}
.recent-projects {
  margin-top: 30px;
}
.recent-projects h2 {
  padding-bottom: 0;
}
.recent-projects .recents-img {
  margin-top: 25px;
}
.recent-projects .sticker {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  background-color: lightgrey;
  margin: -15px auto;
  padding: 30px 12%;
}
.recent-projects p {
  margin-top: 30px;
  font-size: 1.1rem;
}
.footer-content {
  margin-top: 40px;
  background-color: #828282;
}
.footer-content h1 {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 25px 15px 10px 15px;
}
.footer-content input {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 15px 10px;
  border-radius: 5px;
}
.footer-content p {
  color: white;
  font-size: 0.7rem;
  margin-top: 10px;
}
.footer-content address {
  font-size: 0.8rem;
  color: white;
  padding-left: 15px;
  line-height: 1.8;
}
.contact-header {
  position: relative;
}
.contact-header .contact-img {
  width: 100%;
  max-height: 32vh;
}
.contact-header .bottom-left {
  position: absolute;
  bottom: 20px;
  left: 10px;
  line-height: 1.1;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
}
.main-content h1 {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 25px 15px 10px 15px;
}
.main-content h2 {
  padding-top: 30px;
}
.main-content h3 {
  line-height: 1.5;
}
.main-content p {
  padding-top: 10px;
  font-size: 0.8rem;
}
.main-content address {
  font-size: 1rem;
  color: black;
  padding-left: 15px;
  line-height: 1.8;
}
.main-content input {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding: 15px 10px;
  border-radius: 5px;
}
.main-content textarea {
  display: flex;
  margin: 0 auto;
  max-width: 80vw;
  border-radius: 5px;
}
.main-content form {
  padding: 20px 0 0 20px;
}
.main-content .checkbox {
  display: inline-flex;
  width: 30px;
  margin: 0 10px 15px 0;
  background-color: white;
}
.main-content .submit-btn {
  border: 1px solid black;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 4px 2px;
  cursor: pointer;
}
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.tabs .tab {
  margin-top: 25px;
  padding: 15px 20vw;
  text-align: center;
  border: 1px solid black;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.tabs .tab:hover {
  background-color: #5e9fb9;
  color: white;
}
.tabs .active-tab {
  background-color: #5e9fb9;
  color: white;
  border: 2px solid black;
}
body {
  width: 100%;
  font-family: 'Roboto';
}
h1 {
  font-size: 1.6rem;
  color: white;
}
h2 {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 30px;
}
h3 {
  color: black;
  font-size: 1.1rem;
  padding: 15px 0 15px 15px;
}
p {
  font-size: 1rem;
  padding: 0 15px;
  line-height: 1.6;
}
