.contact-header{
    position:relative;

    .contact-img{
        width:100%;
        max-height: 30vh;
    }

    .bottom-left{
    position: absolute;
    bottom: 25px;
    left: 14px;
    line-height: 1.1;

    color:white;
    font-size:2.4rem;
    font-weight: bold;
    }
}