.footer-content{
    margin-top:40px;
    background-color: @darkGrey;

    h1{
        font-size: 1.2rem;
        font-weight: bold;
        padding: 25px 15px 10px 15px;
    }

    input{
        display: flex;
        margin:0 auto;
        width: 90%;
        padding: 15px 10px;
        border-radius: 5px;
    }

    p{
        color:white;
        font-size:0.7rem;
        margin-top: 10px;
    }

    address{
        font-size: 0.8rem;
        color:white;
        padding-left: 15px;
        line-height: 1.8;
    }

}